# Python cache files
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Model + Dataset (optional, can be regenerated)
battery_data.csv
battery_model.pkl

# VS Code folders
.vscode/

# Streamlit config
.streamlit/

# Environment files (if any)
.env
